<h3><i class="fas fa-pencil-alt"><i style="font-family: Snell Roundhand, cursive">LectureNotes</i></i></h3>
<div class="section">
   <p style="font-family: Snell Roundhand, cursive; font-size:large" class="lead">Create public and private notes</p>
</div>
<div class="section">
   <a href="/auth/google" class="btn red">
      <i class="fab fa-google left"> Log In With Google </i>
   </a>
</div>